<!DOCTYPE HTML>
<html>
	<head>
		<title>Elements</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="app/css/style8.css" />
		<link rel="stylesheet" href="app/css/main.css" />
		<script src="app/js/modernizr.custom.js"></script>
	</head>
	<body id="top">

		<!-- Header -->
		<header id="header">
			<a href="#nav">Menu</a>
			<h1><a href="#">GoMap</a></h1>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="#top">Top</a></li>
				<li><a href="#content">Content</a></li>
				<li><a href="#elements">Elements</a></li>
				<li><a href="#grid">Grid System</a></li>
			</ul>
		</nav>


		<!-- Main -->
			<div id="main" class="container">


		<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
			<script src="app/js/app.js"></script>
			<script src="app/js/classie.js"></script>
			<script src="app/js/demo7.js"></script>

	</body>
</html>
